{% extends "base.html" %}

{% block title %}Moderation Table{% endblock %}
{% block content %}
<div>
	<h1>Moderation</h1>
	<ul>
		<li><a href="/backend/moderation/accepted">Accepted</a></li>
		<li><a href="/backend/moderation/pending">Pending</a></li>
		<li><a href="/backend/moderation/blacklisted">Blacklisted</a></li>
	</ul>
</div>
{% endblock %}